# Ignore irrelevent folders #
#############################
.vscode/
.git/


# Ignore specific files and folders eithin "etsyscraper" folder #
#################################################################
etsyscraper/__pycache__/
etsyscraper/Include/
etsyscraper/Lib/
etsyscraper/Scripts/
etsyscraper/pyvenv.cfg